
-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'C칩digo Gr치fico'
-description = 'Bienvenidos al sitio web de C칩digo Gr치fico'